@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

body {
  font-family: "Preahvihear", sans-serif;
  background-color: #11071f;
  color: white;
}
.type-writer-br {
  display: none;
}

.navbar {
  position: sticky;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1a0b2e;
  padding: 1.2rem 2rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.nav-links.nav-click {
  color: #8e2de2;
  font-weight: bold;
  border-bottom: 2px solid #8e2de2;
}

.port-folio {
  text-decoration: none;
  color: white;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.emoji-glow {
  position: relative;

  z-index: 1;
}
.ham-burg-btn {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 999;
}
.home-display {
  display: none;
}

.mobile-nav {
  list-style-type: none;
  background-color: #1a0b2e;
  display: none;
}
.mobile-nav a {
  text-decoration: none;
  color: white;
}

.emoji-glow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140%;
  height: 140%;
  border-radius: 50%;
  background: radial-gradient(circle, #763cac 0%, rgba(50, 15, 133, 0) 100%);
  filter: blur(3.75rem);
  z-index: -1;
}

.nav-list a {
  color: white;
  text-decoration: none;
}

.first-page {
  min-height: 100vh;
}

.main {
  padding-top: 2rem;
  font-family: "Preahvihear";
}

#type-writer {
  border-right: 2px solid #fff;
  white-space: nowrap;
  overflow: hidden;

  animation: blink-caret 0.7s step-end infinite;
}
.skill-text {
  font-size: 3.125rem;
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.main h1 {
  font-size: 3.125rem;
}
.clg-br {
  display: none;
}
.main-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.first-grid {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-content: center;

  min-height: 100vh;
}

.arrow {
  padding-top: 1rem;
  padding-right: 0.5rem;
  z-index: 0;
}

.first-line {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-right: 15rem;
}

.highlight-two {
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 100%/100%;
  transform: rotate(170deg);
}

.highlight-two .s-text {
  display: inline-block;
  transform: rotate(-170deg);
  color: #7127ba;
}

.highlight {
  color: #7127ba;
}

.main-text-first-line {
  text-decoration: underline;
}

.main-second h1 {
  font-size: 3.125rem;
}

.main-second p {
  font-size: 1.31rem;
}

.third-line {
  font-size: 1.31rem;
}

.main-third {
  font-size: 1.375rem;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.main-third .title {
  font-family: "Preahvihear";
  margin-bottom: 1rem;
  font-size: 3.125rem;
}

.wrapper {
  display: grid;
  place-items: center;
  margin: auto;
  height: fit-content;
}

.wrapper-col {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
  margin: 0 auto;
  justify-content: center;
  overflow: visible;
}

.wrapper-col .hover-effect:hover {
  transform: scale(1.03);

  z-index: 2;
  transition: transform 0.3s ease-in;
}

.hover-effect {
  transform: scale(1);
  transition: transform 0.3s ease-in;
  position: relative;
}

.hover-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0%;
  height: 100%;
  transform-origin: center;
  z-index: -1;
  background: #8e2de2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  transform: translateX(-50%);
  transition: width 0.2s ease;
  border-radius: 2rem;
}

.hover-effect:hover::before {
  width: 100%;
  border-radius: 2rem;
}

.wrapper-col .btn {
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  width: 0%;
  height: 100%;
  background: linear-gradient(
    135deg,
    #130428 7%,
    #251043 34%,
    #38126d 57%,
    #261045 85%,
    #190634 100%
  );
  transform-origin: center;
  transition: width 0.2s ease;
  transform: translateX(-50%);
  z-index: -1;
  border-radius: 2rem;
}

.hover-effect:hover .btn::before {
  width: 100%;
  border-radius: 2rem;
}

.wrapper-col .btn {
  cursor: pointer;
  position: relative;
  padding: 1rem;
  color: white;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.wrapper-col p {
  font-size: 1rem;
  padding: 1rem 0rem 1.5rem 0;
}

.wrapper-col h2 {
  font-size: 1.625rem;
}

.left-col {
  display: flex;
  border-top: 5px solid #4f228d;
  border-radius: 2rem;
  gap: 2rem;
  padding: 2rem;
  background: linear-gradient(
    135deg,
    #130428 7%,
    #251043 34%,
    #38126d 57%,
    #261045 85%,
    #190634 100%
  );
}

.right-col {
  display: flex;
  border-top: 5px solid #4f228d;
  border-radius: 2rem;
  gap: 2rem;
  padding: 2rem;
  background: linear-gradient(
    -50deg,
    #130428 7%,
    #251043 34%,
    #38126d 57%,
    #261045 85%,
    #190634 100%
  );
}

.bottom-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;

  border-top: 5px solid #4f228d;
  border-radius: 2rem;
  gap: 0.5rem;
  grid-column: 1/-1;
  background: linear-gradient(
    90deg,
    #130428 7%,
    #251043 34%,
    #38126d 57%,
    #261045 85%,
    #190634 100%
  );
}

.left-col img,
.right-col img,
.bottom-col img {
  width: auto;
  max-width: 100%;
  height: 50px;
  object-fit: contain;
}

.langs {
  display: grid;
  min-height: 100vh;
  grid-template-rows: repeat(2, auto);
  place-items: center;
  text-align: center;
}

.langs-image img {
  width: 1000px;
  height: auto;
  padding-bottom: 2rem;
}

.socials {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.socials-wrapper {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  gap: 0rem;
}

.logo-links {
  display: flex;
  padding-top: 2rem;
  gap: 2rem;
}

.btn:hover {
  background-position: right center;
  box-shadow: 0 0 2rem white;
}

.social-text {
  font-size: 3.125rem;
}

@media (max-width: 1440px) {
  .first-grid h1,
  .main-third .title,
  .socials h1,
  .main-second h1,
  .skill-text {
    font-size: 2.6rem;
  }

  .main-second p,
  .third-line p {
    font-size: 1.125rem;
  }

  .main-third h2,
  .langs h2,
  .socials h2 {
    font-size: 1.38rem;
  }

  .main-third p,
  .main-third .btn {
    font-size: 0.85rem;
  }

  .first-line p,
  .main-text p {
    font-size: 0.85rem;
  }

  .arrow {
    width: 74px;
    height: auto;
  }

  .first-line {
    padding-left: 2rem;
  }

  .logo-m {
    width: 140px;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .first-grid h1,
  .main-third .title,
  .socials h1,
  .main-second h1,
  .skill-text {
    font-size: 2.25rem;
  }

  .main-second p,
  .third-line p {
    font-size: 1rem;
  }

  .main-third h2,
  .langs h2,
  .socials h2 {
    font-size: 1.2rem;
  }

  .main-third p,
  .main-third .btn {
    font-size: 0.75rem;
  }

  .first-line p,
  .main-text p {
    font-size: 0.75rem;
  }

  .arrow {
    width: 64px;
    height: auto;
  }

  .first-line {
    padding-left: 3.2rem;
  }

  .logo-m {
    width: 120px;
    height: auto;
  }

  .langs-image img {
    width: 950px;
    height: auto;
  }
}

@media (max-width: 966px) {
  .wrapper-col {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
  }

  .wrapper {
    display: grid;
    grid-template-rows: repeat(2, auto);
  }

  .left-col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 0.5rem;
  }

  .right-col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 0.5rem;
  }

  .responsive-br {
    display: none;
  }

  .langs-image img {
    width: 850px;
    height: auto;
  }
}

@media (max-width: 912px) {
  .socials-wrapper {
    text-align: center;
  }

  .test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .responsive-br-last {
    display: none;
  }
}

@media (max-width: 868px) {
  .first-grid {
    min-height: unset;
    /* Let content decide */
    padding-top: 2rem;
    padding-bottom: 4rem;
    gap: 8rem;
  }

  .main-third,
  .langs {
    min-height: unset;
    /* Let content decide */
    padding-top: 2rem;
    gap: 8rem;
  }

  .socials {
    padding-top: 8rem;
    min-height: unset;
    padding-bottom: 10rem;
  }

  .first-grid h1,
  .main-third .title,
  .socials h1,
  .main-second h1,
  .skill-text {
    font-size: 1.91rem;
  }

  .main-second p,
  .third-line p {
    font-size: 0.9rem;
  }

  .main-third h2,
  .socials h2 {
    font-size: 1.2rem;
  }
  .langs h2 {
    font-size: 1.2rem;
  }

  .main-third p,
  .main-third .btn {
    font-size: 0.9rem;
  }

  .first-line p,
  .main-text p {
    font-size: 0.69rem;
  }

  .arrow {
    width: 58px;
  }

  .first-line {
    padding-left: 6rem;
  }

  .logo-m {
    width: 100px;
  }

  .langs-image img {
    width: 750px;
    height: auto;
  }

  .left-col,
  .right-col,
  .bottom-col {
    padding-left: 0.3rem;
    padding-right: 0.4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .wrapper-col {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .text {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

@media (max-width: 786px) {
  .main {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
.card-tap-animate .btn::before {
  width: 100%;
  border-radius: 2rem;
}

.card-tap-animate .btn {
  position: relative;
  z-index: 1;
  color: white;
}

  .nav-list {
    display: none;
  }
  .navbar {
    background: #1a0b2e;
  }
  .ham-burg-btn {
    display: block;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .hamburg {
    width: 40px;
    height: auto;
  }
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .close-button img {
    width: 40px;
    height: auto;
  }
  .navbar {
    justify-content: space-between;
  }
  .mobile-nav {
    position: fixed;
    min-height: 100vh;
    top: 0;
    right: -100%;
    z-index: 99999;
    display: flex;
    background-color: #1a0b2e;
    flex-direction: column;
    width: min(15em, 100%);

    gap: 5rem;
    align-items: center;
    padding-top: 2rem;
    transition: right 0.3s ease-in-out;
    opacity: 1;
  }
  .display {
    right: 0;
  }
  .remove-btn {
    display: none;
  }

  .arrow {
    display: none;
    padding-top: 0;
    padding-right: 0;
  }

  .main-body {
    display: flex;
    flex-direction: column;
  }

  .first-line {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .first-line p {
    font-size: 1.3rem;
  }
  .main-second,
  .third-line {
    text-align: center;
  }
  .third-line {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .responsive-br-two {
    display: none;
  }
  .langs-image img {
    width: 600px;
  }
  .test h2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .main-text p {
    font-size: 1rem;
  }
}
@media (max-width: 598px) {
  .langs-image img {
    width: 400px;
  }
  .type-writer-br {
    display: block;
  }
  .text {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
}
@media (max-width: 494px) {
  .main-second-text h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 460px) {
  .langs-br {
    display: none;
  }
  .port-folio {
    display: none;
  }
  .ham-burg-btn {
    margin-left: auto;
  }
  .navbar {
    padding-right: 1rem;
  }
  .home-display {
    display: block;
  }
}
@media (max-width: 408px) {
  .langs-image img {
    width: 350px;
  }
}

@media (max-width: 382px) {
  .main-second-text h1 {
    font-size: 1.3rem;
  }
}
@media (max-width: 378px) {
  .clg-br {
    display: block;
  }
  .main-text h1 {
    font-size: 1.5rem;
  }
  .first-line p {
    font-size: 1rem;
  }
  /* .socials-wrapper{
    padding-top: 0.3rem;
  } */
}
